body {
  border: 1px solid #ccc;
  width: 1440px;
  margin: 30px auto;
  font-family: Arial, sans-serif;
}

.resume {
  display: flex;
  flex-direction: row;
  background-color: #ccc;
}

.personal-info, .field-info {
  display: flex;
  flex-direction: column;
  background-color: #e6e7e8;
}

.field-info {
  margin-left: 10px;
}

.phone, .website, .email {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.phone {
  background-color: #00639e;
}

.website {
  background-color: #007dc5;
}

.email {
  background-color: #009bdf;
}

.personal-icon {
  margin-left: 30px;
}

.personal-info-text {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  margin-right: 10px;
}

.tittle-info {
  text-transform: uppercase;
  color: #19282e;
}

.info {
  margin-bottom: 5px;
}

.info-skills {
  position: relative;
  margin-bottom: 5px;
}

.info-skills::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 8px;
  background-color: #b7b8b9;
  right: 10px;
  top: 5px;
}

.communication::after {
  content: "";
  position: absolute;
  background-color: #00aeef;
  width: 100px;
  height: 8px;
  top: 5px;
  right: calc(150px - 100px + 10px);
}

.creativity::after {
  content: "";
  position: absolute;
  background-color: #00aeef;
  width: 110px;
  height: 8px;
  top: 5px;
  right: calc(150px - 110px + 10px);
}

.leadership::after {
  content: "";
  position: absolute;
  background-color: #00aeef;
  width: 90px;
  height: 8px;
  top: 5px;
  right: calc(150px - 90px + 10px);
}

.organizational::after {
  content: "";
  position: absolute;
  background-color: #00aeef;
  width: 110px;
  height: 8px;
  top: 5px;
  right: calc(150px - 110px + 10px);
}

.photoshop::after {
  content: "";
  position: absolute;
  background-color: #00aeef;
  width: 110px;
  height: 8px;
  top: 5px;
  right: calc(150px - 110px + 10px);
}

.html5::after {
  content: "";
  position: absolute;
  background-color: #00aeef;
  width: 130px;
  height: 8px;
  top: 5px;
  right: calc(150px - 130px + 10px);
}

.css3::after {
  content: "";
  position: absolute;
  background-color: #00aeef;
  width: 130px;
  height: 8px;
  top: 5px;
  right: calc(150px - 130px + 10px);
}

.js::after {
  content: "";
  position: absolute;
  background-color: #00aeef;
  width: 115px;
  height: 8px;
  top: 5px;
  right: calc(150px - 115px + 10px);
}

.main-information {
  background-color: #ffffff;
  width: 100%;
}

.about-me, .main-information-tittle, .education-type {
  padding-left: 50px;
  padding-right: 50px;
}

.about-me-tittle {
  font-size: 48px;
  color: #00aeef;
  text-transform: uppercase;
}

.about-me-info {
  font-size: 24px;
  color: #19282e;
}

.main-information-tittle-field {
  height: 50px;
  background-color: #e6e7e8;
}

.main-information-tittle {
  text-transform: uppercase;
  color: #19282e;
  line-height: 50px;
}

.education-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.education-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 175px;
  min-width: 175px;
  margin-right: 50px;
  text-align: center;
}

.education-year {
  font-size: 22px;
}

.education-info {
  font-size: 22px;
}

.post {
  text-decoration: underline;
  color: #00aeef;
  font-size: 14px;
}

.hobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hobbies-item {
  width: max-content;
  height: 100px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobbies-item img {
  height: 60px;
}

.hobbies-item-text {
  font-size: 24px;
  margin-top: 10px;
}
